@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, corporate;
}

:root {
    --color-primary: #72d4ae;
    --color-secondary: #3f6858;
    --color-dark: #030f06;
    --color-light: #ffffff;
}

html {
  scroll-behavior: smooth;
}

/* .bg {
    background: url('/banner.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 1;
} */

#home {
    justify-content: center;
}

.nav-links {
    @apply btn btn-ghost normal-case text-base md:text-base;
    pointer-events: auto;
    position: relative;
    z-index: 1;
}


.tito-widget-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    background-color: #72d4ae;
    color: hsl(var(--pc) / 1);
}

/* Hide desktop nav on mobile */
@media (max-width: 767px) {
    .nav-links {
        display: none !important;
    }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax {
  /* The image used */
  background-image: url('/banner.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass-element::before,
.glass-element::after {
  pointer-events: none;
}

/* Glassmorphism CSS */
.glass-element {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  padding: 12px;
  pointer-events: none;
}

.glass-element a {
  pointer-events: auto;
}

/* Optional: Add these for better browser support */
.glass-element {
  /* Fallback for older browsers */
  background: rgba(255, 255, 255, 0.2);
}

/* For better performance on mobile */
@supports (backdrop-filter: blur(1px)) {
  .glass-element {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
  }
}

@supports (-moz-appearance: none) {
  .parallax {
    background-attachment: scroll;
  }
}


