
<div class="mx-20 my-2 w-full max-w-4xl space-y-4">
    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2"/>
    <div class="collapse-title font-semibold md:text-xl">How do I get a ticket?</div>
    <div class="collapse-content text-sm md:text-xl">Click the "Sign Up" button at the top or click the Home button and it will redirect you to the sign up button.</div>
    </div>
    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">Where inside the Diamond is the hackathon taking place?</div>
    <div class="collapse-content text-sm md:text-xl">We will be mainly located inside Computer Room 5 on the ground floor, with some workrooms being booked as a co-working space.</div>
    </div>
    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">Will food be provided for attendees?</div>
    <div class="collapse-content text-sm md:text-xl">Yes, meals and snacks will be provided throughout the event to keep you energized.</div>
    </div>
    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">Can I attend if I am not a student?</div>
    <div class="collapse-content text-sm md:text-xl">Only if you're a recent graduate (within the last year) or have a TechVision membership.</div>
    </div>
    <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">Will there be prizes?</div>
    <div class="collapse-content text-sm md:text-xl">Yes, there will be exciting prizes for the winning teams and some swag for all participants.</div>
    </div>
        <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">What is the judging criteria?</div>
    <div class="collapse-content text-sm md:text-xl">We will be judging your submissions based on accessibility, creativity, usability and relevance to the theme.</div>
    </div>
        <div class="collapse collapse-arrow bg-base-100 border border-base-300">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title font-semibold md:text-xl">How many members can I have in a team? Can I join as an individual?</div>
    <div class="collapse-content text-sm md:text-xl">Teams can have up to 4 members. Yes, you can join as an individual and you will be able to join a team during the event.</div>
    </div>
</div>
