---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<header class="fixed top-0 z-10 w-full">
    <div class="navbar bg-base-100 px-8">
        <a 
			href="https://linktr.ee/techvisionsociety" 
			target="_blank" 
			rel="noopener noreferrer"
        >
            <Image src={logo} alt="TechVision Logo" width={200} height={200} />
        </a>
    </div>
</header>
