<!doctype html>
<html lang="en" data-theme="corporate">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TechVision UXHackathon</title>
		<script>
			// This code runs only on the client
			import 'https://js.tito.io/v2';

			// Pre-initialize the widget so the first click works
			document.addEventListener('astro:page-load', () => {
				if (window.tito) {
				window.tito.prefill(); 
				}
			});
</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="sub">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	html {
		height: 100%;
	}
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
